body{
    font-family: arial;
    background-color: #f2f2ff;
    text-align: center;
}

.container{
   background: white;
   width: 300px;
   padding: 20px;
   margin: 20px auto;
   border-radius: 10px;
   box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

input{
width: 90px;
padding: 8px;
margin: 9px;
border-radius: 5px;
border: 1px solid #ccc;
}

button{
    padding: 10px 15px;
    margin: 8px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background:#0056b3;   
}

button:hover{
    background: #0056b3;
}

.card{
    background:white;
    width: 250px;
    margin: 20px auto;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    display: none;
}
.success{
    color: green;
    font-weight: bold;
    margin-top: 10px;
}